body {  
    background-color: lightblue; /* this is background color of the web page  */
}  
div {  
    color: navy;  /* this is comment */
    margin-left: 20px;  
}
 
.myDivExt {
  color: cyan;
  background-color: pink;    
  text-align: left;
}

div
{
	font-family:Aachen-Light; 
	font-variant: small-caps;
	font-style:italic;
	font-weight:bolder; 
	font-size:12px;
	color: navy;
}